{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/screen.css' %}" />
    {% block extra_head %}{% endblock extra_head %}
</head>
<body id="{% block body_id %}{% endblock %}" class="container {% block body_class %}{% endblock %}">
<div class="content">
    {% block title-block %}
        <div class="title left-side">
            <h3>42 Coffee Cups Test Assignment</h3>
        </div>
        <div class="right-side">
            <p>
                {% if user.is_authenticated %}
                <a href="{% url 'edit' %}">Edit</a>
                <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
                {% endif %}
            </p>
        </div>
    {% endblock %}
    {% block content %}{% endblock content %}
    {% block footer %}
        <div  class="footer">
            <div class="hr">
                <hr/>
            </div>
            <div class="col-md-4">
                <p><a href="{% url 'req' %}">requests</a></p>
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>