{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/screen.css' %}" />
    {% block extra_head %}{% endblock extra_head %}
</head>
<body id="{% block body_id %}{% endblock %}" class="container {% block body_class %}{% endblock %}">
<div class="content">
    {% block content %}{% endblock content %}
    {% block footer %}
        <div class="row">
            <div class="hr">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p><a href="{% url 'req' %}">requests</a></p>
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>