{% extends 'base.html' %}
{% load static staticfiles %}
{% block title %}Edit page{% endblock %}
{% block extra_head %}
    {{ super }}  {{ form.media }}
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/load.js' %}"></script>

{% endblock %}


{% block content %}
    <div class="title left-side">
        <h3>42 Coffee Cups Test Assignment</h3>
    </div>
    <div class="right-side">
        <p> ({{ user.username }}) <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></p>
    </div>

    <div id="body main-body">
        <form enctype="multipart/form-data"
              id="send-form" action="{% url 'edit' %}" method="post">
            {% csrf_token %}
                {% include 'hello/reload.html' %}
        </form>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}