{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_head %}
    {{ super }}
    <script src="{% static 'external/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.json.min.js' %}"></script>
    <script src="{% static 'js/counting.js' %}"></script>
{% endblock %}
{% block title %} Requests list{% endblock %}
{% block title-block %}{% endblock %}

{% block content %} {% csrf_token %}
    <h3 class="main-title"> Requests list:</h3>
    <input id="get_time" value="{{ old_time }}" type="hidden"/>
    <input id="result" value='0' type="hidden"/>
    <input id="result_upload" value='{{ result }}' type="hidden"/>
    <hr/>
<div id="request-list">
    {% for row in object_list %}
        <p class="item-{{ forloop.counter }}">{{ row.id }}. request from {{ row.timestamp|date:'H:i:s.u d N Y' }}:
        {{ row.request_method }}, {{ row.request_path }}, priority ={{ row.priority }}
        </p>

    {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}