{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_head %}
    {{ super }}
    <script src="{% static 'external/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.json.min.js' %}"></script>
    <script src="{% static 'js/counting.js' %}"></script>
{% endblock %}
{% block title %} Requests list{% endblock %}
{% block title-block %}{% endblock %}

{% block content %}
    <h3 class="main-title"> Requests list:</h3>
    <input id="request_old_count" value="{{ old_count }}" type="hidden"/>
    <p>
    <hr/> </p>
    <span id="result" style="display: None"></span>
    <span id="result_upload"></span>
        {% for row in object_list %}
            <p>{{ row.id }}. request from {{ row.timestamp|date:'H:i d N Y' }}:
                  <p>  {{ row.request_method }}, {{ row.request_path }} </p>
            </p>
            <p>
            <hr/>
            </p>
        {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}