{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_head %}
    {{ super }}
    <script src="{% static 'external/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.json.min.js' %}"></script>
    <script src="{% static 'js/counting.js' %}"></script>
{% endblock %}
{% block title %} Requests list{% endblock %}
{% block title-block %}{% endblock %}

{% block content %} {% csrf_token %}
    <h3 class="main-title"> Requests list:</h3>
    <input id="request_old_time" value='{{ old_time|date:"Y-m-d H:i:s" }}' type="hidden"/>
    <input id="result" value='0' type="hidden" />
    <input id="result_upload" value='{{ result }}' type="hidden"/>
    <p>
    <hr/> </p>
        {% for row in object_list %}
            <p>{{ row.id }}. request from {{ row.timestamp|date:'H:i d N Y' }}:
                  <p>  {{ row.request_method }}, {{ row.request_path }} </p>
            </p>
            <p>
            <hr/>
            </p>
        {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}